API_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

ORACLE_HOST=oracle.fiap.com.br
ORACLE_PORT=1521
ORACLE_SID=orcl
ORACLE_USER=SEU_USUARIO_ORACLE
ORACLE_PASSWORD=SUA_SENHA_ORACLE

JWT_SECRET_KEY=SUA_CHAVE_JWT_COM_PELO_MENOS_32_CARACTERES
JWT_ISSUER=EcoTrack
JWT_AUDIENCE=EcoTrackUsers